<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.png">
<link th:href="@{/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
<!-- Menu CSS -->
<link th:href="@{/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css}" rel="stylesheet">
<!-- toast CSS -->
<link th:href="@{/plugins/bower_components/toast-master/css/jquery.toast.css}" rel="stylesheet">
<!-- morris CSS -->
<link th:href="@{/plugins/bower_components/morrisjs/morris.css}" rel="stylesheet">
<!-- chartist CSS -->
<link th:href="@{/plugins/bower_components/chartist-js/dist/chartist.min.css}" rel="stylesheet">
<link th:href="@{/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css}" rel="stylesheet">
<!-- animation CSS -->
<link th:href="@{/css/animate.css}" rel="stylesheet">
<!-- Custom CSS -->
<link th:href="@{/css/style.css}" rel="stylesheet">
<!-- color CSS -->
<link th:href="@{/css/colors/default.css}" id="theme" rel="stylesheet">

<!-- DATA TABLES :: BASE -->
<link rel="stylesheet" th:href="@{/plugins/bower_components/datatables/datatables.min.css}">
<link rel="stylesheet" th:href="@{/plugins/bower_components/datatables/DataTables-1.10.21/css/dataTables.bootstrap.min.css}">

<!-- DATA TABLES :: COMPONENT -->
<link rel="stylesheet" th:href="@{/plugins/bower_components/datatables/Select-1.3.1/css/select.bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/plugins/bower_components/datatables/FixedHeader-3.1.7/css/fixedHeader.bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/plugins/bower_components/datatables/Buttons-1.6.3/css/buttons.bootstrap.min.css}">
<link rel="stylesheet"
      th:href="@{/plugins/bower_components/datatables/FixedColumns-3.3.1/css/fixedColumns.dataTables.min.css}">

<!-- <head th:replace="fragment/main-page :: main-header(ListDatatable)"> !-->


  <!--  <title th:text="${title}"></title> !-->

<body class="fix-header">

<!-- ============================================================== -->
<!-- Wrapper -->
<!-- ============================================================== -->
<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header">
            <div class="top-left-part">
                <!-- Logo -->
                <a class="logo" href="/dashboard">
                    <!-- Logo icon image, you can use font-icon also -->
                    <b>
                        <!--This is dark logo icon-->
                        <img src="/plugins/images/admin-logo.png" alt="home" class="dark-logo" />
                        <!--This is light logo icon-->
                        <img src="/plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />
                    </b>
                    <!-- Logo text image you can use text also -->
                    <span class="hidden-xs">
                            <!--This is dark logo text-->
                            <img src="/plugins/images/admin-text.png" alt="home" class="dark-logo" />
                        <!--This is light logo text-->
                            <img src="/plugins/images/admin-text-dark.png" alt="home" class="light-logo" />
                        </span>
                </a>
            </div>
            <!-- /Logo -->
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li>
                    <a class="nav-toggler open-close waves-effect waves-light hidden-md hidden-lg" href="javascript:void(0)"><i class="fa fa-bars"></i></a>
                </li>
                <li>
                    <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                        <input type="text" placeholder="Search..." class="form-control">
                        <a href="">
                            <i class="fa fa-search"></i>
                        </a>
                    </form>
                </li>
                <li>
                    <a class="profile-pic" href="#"> <img src="/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs" th:text="${username}"></b></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <!-- End Top Navigation -->




    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav slimscrollsidebar">
            <div class="sidebar-head">
                <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
            </div>
            <ul class="nav" id="side-menu">
                <li style="padding: 70px 0 0;">
                    <a href="/dashboard" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/employee/list" class="waves-effect"><i class="fa fa-users fa-fw" aria-hidden="true"></i>Employee</a>
                </li>
                <li>
                    <a href="/payment/list" class="waves-effect"><i class="fa fa-users fa-fw" aria-hidden="true"></i>Employee</a>
                </li>
                <li>
                    <a href="/product/list" class="waves-effect"><i class="fa fa-users fa-fw" aria-hidden="true"></i>Product</a>
                </li>
                <li>
                    <a href="/login" class="waves-effect"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Sign Out</a>
                </li>

            </ul>
            <!--            <div class="center p-20">-->
            <!--                <a href="https://wrappixel.com/templates/ampleadmin/" target="_blank" class="btn btn-danger btn-block waves-effect waves-light">Upgrade to Pro</a>-->
            <!--            </div>-->
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Left Sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page Content -->
    <!-- ============================================================== -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Employee List</h4>
                </div>


                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">

                            <div class="white-box">

                                <div class="cold-md-1 col-sm-4 col-xs-6 pull-right">
                                    <!--  <form method="post" action="form_employee.html"></form> !-->
                                    <a class="btn btn-primary" href="/employee/form_employee">Add New</a>
                                </div>


                                <h3 class="box-title"> List Employee</h3>
                                <div class="table-responsive">
                                    <table class="table" id="tableEmployee">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>


<!-- ============================================================== -->
<!-- End Wrapper -->
<div th:replace="fragment/main-page :: jsmodules"></div>
<!-- Bootstrap Core CSS -->

<script type="text/javascript" th:inline="javascript">
    let dataEmployeeList = [[${dataEmployee}]];
    let dataEmployeeParse = JSON.parse(dataEmployeeList);
    </script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>

<![endif]-->

<script src="/jsmodules/employee/list-datatable.js"></script>




